* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 70px;
  width: 100%;
  background-color: #ec715f;
}

.header-main {
  width: 1024px;
  margin: 0 auto;
}

.logo-img {
  height: 70px;
  float: left;
}

.nav-lists {
  text-align: right;
}

a{
  color: #fafafa;
  text-decoration:none;
}

.nav-list {
  display: inline-block;
  font-size: 16px;
  color: #fafafa;
  padding: 0 30px;
  line-height: 70px;
}

.main-visual {
  background-image: url(img/mv.png);
  height: 650px;
  background-size: cover;
  background-position: center;
  color: #fafafa;
  display: flex;
  justify-content: center;
  text-align: center;
}

.main-visual h1 {
  padding-top: 200px;
  font-size: 64px;
  margin-bottom: 10px;
}

.main-visual p {
  font-size: 20px;
}

#portfolio {
  width: 100%;
  background-color: #eceff1;
}

.portfolio-items {
  width: 920px;
  margin: 0 auto;
}

.main-texts {
  color: #000000;
  text-align: center;
}

.main-texts h2 {
  font-size: 32px;
  padding-top: 90px;
}

.main-texts h2::after {
  height: 3px;
  width: 70px;
  content: "";
  background-color: #ec715f;
  display: block;
  margin: 8px auto 0;
}

.main-texts p {
  padding: 30px 0;
}

.boxs {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 90px;
}

.portfolio-img {
  height: 250px;
  width: 300px;
  background-size: cover;
  background-position: center;
}

.portfolio-img:nth-child(1) {
  background-image: url(img/sketch.jpg);
  margin-bottom: 10px;
}

.portfolio-img:nth-child(2) {
  background-image: url(img/websuku.png);
  margin: 0 10px 10px;
}

.portfolio-img:nth-child(3) {
  background-image: url(img/write.jpg);
  margin-bottom: 10px;
}

.portfolio-img:nth-child(4) {
  background-image: url(img/webcamp.png);
}

.portfolio-img:nth-child(5) {
  background-image: url(img/talk.jpg);
  margin: 0 10px 0;
}

.portfolio-img:nth-child(6) {
  background-image: url(img/webcamp-mother.png);
}

#feature {
  width: 100%;
}

.feature-box {
  width: 320px;
}

.feature-box:nth-child(2) {
  padding: 0, 10px 0;
}

.feature-items {
  width: 980px;
  margin: 0 auto;
}

.fas{
  font-size: 60px;
}

.feature-box{
  text-align: center;
  color: #000000;
}

.feature-box:nth-child(2){
  padding: 0 10px 90px;
}


.feature-box h2{
  font-size: 20px;
  padding: 10px 0;
}

.feature-box p{
  text-align: left;
  font-size: 16px;
}

#profile{
  width: 100%;
  background-color: #eceff1;

}

.profile-items{
  width: 1024px;
  margin: 0 auto;
}

.profile-img{
  width: 512px;
  text-align: center;
}

.profile-img img{
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.profile-text{
  width: 512px;
}

.profile-text p{
  padding-top: 5px;
}

.name{
  padding-top: 30px;
}

.skill{
  padding-top: 20px;
}

#contact{
  width: 100%;
}

.contact-items{
  width: 800px;
  margin: 0 auto;
}

.contact-mail{
  width: 400px;
  display: flex;
  justify-content: center;
}


.contact-items h3{
  font-size: 20px;
  padding-bottom: 5px;
}

.contact-mail p{
  padding-bottom: 20px;
  text-decoration: underline
}

.contact-sns{
  width: 400px;
  display: flex;
  justify-content: center;
}
.fab{
  font-size: 50px;
}

.fa-facebook-square{
  padding: 0 20px 0;
}

footer{
  width: 100%;
  height: 60px;
  background-color: #EC715F;
  text-align: center;
  line-height: 60px;
  color: #fafafa;
}

@media screen and (max-width:768px){
  header{
    height: 50px;
    width: 100%;
  }

  .header-main {
    width: 90%;
  }

  .logo-img {
    height: 50px;
  }

  .nav-list {
    display: none
  }

  .nav-btn{
    width: 40px;
    height: 40px;
    border: 1px solid #FAFAFA;
    margin: 5px 5% 5px 0;
    float: right;
  }

  .nav-btn-line{
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    background-color: #fafafa;
  }

  .nav-btn-line:nth-child(1){
    margin-top: 10px;
  }

  .main-visual {
    background-image: url(img/code.png);
  }
  
  .main-visual h1 {
    font-size: 40px;
  }
  
  .main-visual p {
    font-size: 18px;
  }

  .portfolio-items {
    width: 90%;
  }

  .boxs {
    display: block;
  }
  
  .portfolio-img:nth-child(1) {
    background-image: url(img/websuku.png);
    margin: 0 auto;
  }
  
  .portfolio-img:nth-child(2) {
    background-image: url(img/webcamp.png);
    margin: 0 0 10px;
    margin: 0 auto;
  }
  
  .portfolio-img:nth-child(3) {
    background-image: url(img/webcamp-mother.png);
    margin: 0 auto;
  }
  
  .portfolio-img:nth-child(4) {
    display: none;
  }
  
  .portfolio-img:nth-child(5) {
    display: none;
  }
  
  .portfolio-img:nth-child(6) {
    display: none;
  }
  
  .feature-box {
    width: 90%;
    margin: 0 auto;
  }

  .feature-box:nth-child(1) {
    padding: 0 0 10px;
  }
  
  .feature-box:nth-child(2) {
    padding: 0 0 10px;
  }
  
  .feature-items {
    width: 90%;
  }
  
  .feature-box:nth-child(3){
    padding: 0 0 90px;
  }
  .profile-items{
    width: 90%;
  }
  
  .profile-img{
    width: 90%;
    margin: 0 auto;
  }
  
  .profile-text{
    width: 90%;
    margin: 0 auto;
  }
  
  .profile-text p{
    padding-top: 5px;
  }
  
  .name{
    padding-top: 30px;
    text-align: center;
  }
  
  .skill{
    padding-top: 20px;
    text-align: center;
  }
  
  .contact-items{
    width: 90%;
    margin: 0 auto;
  }
  
  .contact-mail{
    width: 90%;
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  
  .contact-sns{
    width: 90%;
    margin: 0 auto;
    display: block;
    text-align: center;
  }

  
  



}